<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Aimon Web Application</display-name>

  

    <!-- S welcome file -->
    <welcome-file-list>
        <welcome-file>/html/index.html</welcome-file>
    </welcome-file-list>
    <!-- E welcome file -->

    <!-- S error page -->
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/view/403.jsp</location>
    </error-page>
    <!--<error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/view/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/view/500.jsp</location>
    </error-page>-->
    <!-- E error page -->

    <!-- S jsp property group -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.jspf</url-pattern>
            <url-pattern>*.html</url-pattern>
            <el-ignored>false</el-ignored>
            <page-encoding>UTF-8</page-encoding>
            <!--<include-prelude>/WEB-INF/view/prelude.jspf</include-prelude>-->
            <!--<include-coda>/WEB-INF/view/coda.jspf</include-coda>-->
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    <!-- E jsp property group -->
</web-app>
