.topImg {
  display: block;
  margin-bottom: -12px;
}
/*.leftLinks.brandKind{
    margin-bottom:35px;
}*/
/*购物车弹窗*/
.popup {
  width: 341px;
  height: 175px;
  background: #fff;
  border: 2px solid #e3e3e3;
  position: absolute;
  top: 373px;
  left: 635px;
  padding: 10px;
  display: none;
  z-index: 1000;
}
.popup .delete {
  text-align: right;
  background: url(../images/dealer19.png) right 0 no-repeat;
  height: 26px;
  width: 100%;
}
.popup .delete :hover {
  cursor: pointer;
}
.popup .succeed {
  font-size: 20px;
  text-align: center;
  color: #757575;
  margin-bottom: 13px;
}
.popup .money {
  font-size: 12px;
  text-align: center;
  color: #757575;
  font-family: SimHei;
  margin-bottom: 29px;
}
.popup .money span {
  font-weight: 600;
  color: #ff7900;
}
.popup .examine {
  width: 100%;
  height: 54px;
}
.popup .examine a {
  background: #b26aef url(../images/dealer13.png) 25px 12px no-repeat;
  color: #fff;
  line-height: 54px;
  width: 180px;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-indent: 35px;
  font-size: 20px;
  border-radius: 50px;
}
/*收藏弹窗*/
.collectPopup {
  width: 330px;
  height: 160px;
  background: #fff;
  border: 2px solid #e3e3e3;
  position: absolute;
  top: 373px;
  left: 635px;
  padding: 10px;
  display: none;
  z-index: 1000;
}
.collectPopup .delete {
  text-align: right;
  background: url(../images/dealer19.png) right 0 no-repeat;
  height: 28px;
  margin-bottom: 10px;
  width: 100%;
}
.collectPopup .delete :hover {
  cursor: pointer;
}
.collectPopup .succeed {
  font-size: 20px;
  text-align: center;
  color: #757575;
  margin-bottom: 13px;
}
.collectPopup .money {
  font-size: 12px;
  text-align: center;
  color: #757575;
  font-family: SimHei;
  margin-bottom: 29px;
}
.collectPopup .money span {
  font-weight: 600;
  color: #ff7900;
}
.collectPopup .examine {
  width: 100%;
  height: 54px;
}
.collectPopup .examine a {
  background: #b26aef url(../images/dealer13.png) 25px 12px no-repeat;
  color: #fff;
  line-height: 54px;
  width: 180px;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-indent: 35px;
  font-size: 20px;
  border-radius: 50px;
}
.BannerSlidePart {
  overflow: hidden;
  margin-top: 10px;
}
.main_div {
  overflow: hidden;
  width: 1061px;
  float: right;
}
/*经销商内容*/
.dealerDiv {
  width: 1019px;
  border: 1px solid #f0f0f0;
  margin: 0 auto;
  padding: 20px 20px;
  overflow: hidden;
  /*商品信息*/
}
.dealerDiv .sharediv {
  width: 40%;
  color: #ccc;
  margin-top: 10px;
}
.dealerDiv .sharediv .sharediv_left {
  display: inline-block;
  background: url(../images/dealer05.png) 0 0 no-repeat;
  width: 153px;
  height: 15px;
  font-size: 12px;
  color: #6c6c6c;
  text-indent: 20px;
}
.dealerDiv .sharediv .sharediv_lefts {
  display: inline-block;
  background: url(../images/dealer06.png) 0 0 no-repeat;
  width: 153px;
  height: 15px;
  font-size: 12px;
  color: #6c6c6c;
  text-indent: 20px;
  margin-left: 25px;
}
.dealerDiv .dealer_Right {
  width: 600px;
  overflow: hidden;
}
.dealerDiv .dealer_Right .introduce {
  display: block;
  width: 100%;
  line-height: 33px;
  font-family: "simsun";
  word-spacing: 2px;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 600;
  text-indent: 10px;
}
.dealerDiv .dealer_Right .cost_div {
  width: 100%;
  font-size: 14px;
}
.dealerDiv .dealer_Right .cost_div .earnestMoney {
  float: left;
  width: 415px;
  height: 80px;
  background: #ffdfc2;
  line-height: 80px;
  text-indent: 20px;
  font-family: "simsun";
}
.dealerDiv .dealer_Right .cost_div .earnestMoney span {
  float: left;
}
.dealerDiv .dealer_Right .cost_div .earnestMoney .money {
  font-size: 36px;
  color: #ff0000;
  line-height: 80px;
  font-family: "Arial";
}
.dealerDiv .dealer_Right .cost_div .collect {
  width: 92px;
  height: 80px;
  margin-left: 1px;
  display: inline-block;
  background: #fff1e4 url(../images/dealer02.png) center 21px no-repeat;
  text-align: center;
  line-height: 120px;
  cursor: pointer;
}
.dealerDiv .dealer_Right .cost_div .collect.active {
  background-position-y: -71px;
}
.dealerDiv .dealer_Right .cost_div .collect a {
  color: #4a4a4a;
  font-family: "simsun";
  font-size: 12px;
}
.dealerDiv .dealer_Right .cost_div .collects {
  width: 91px;
  height: 80px;
  margin-left: 1px;
  display: inline-block;
  background: #fff1e4 url(../images/dealer03.png) center 21px no-repeat;
  text-align: center;
  line-height: 120px;
  cursor: pointer;
}
.dealerDiv .dealer_Right .cost_div .collects a {
  color: #4a4a4a;
  font-family: "simsun";
  font-size: 12px;
}
.dealerDiv .dealer_Right .cost_div .category_div {
  width: 100%;
  height: 35px;
  background: #ff7900;
  margin-top: 1px;
  color: #ff4800;
  font-family: "simsun";
}
.dealerDiv .dealer_Right .cost_div .category_div .dealer_Text {
  text-indent: 20px;
  width: 179px;
  float: left;
  color: #fff;
  line-height: 35px;
}
.dealerDiv .dealer_Right .cost_div .category_div .retail {
  width: 190px;
  line-height: 35px;
  float: left;
  color: #fff;
  text-align: center;
}
.dealerDiv .dealer_Right .cost_div .category_div .fcl {
  width: 227px;
  line-height: 35px;
  float: left;
  color: #fff;
  text-align: center;
}
.dealerDiv .dealer_Right .cost_div .category_div .solid {
  width: 1px;
  height: 30px;
  float: left;
  border-right: 1px solid #ff4800;
  margin-top: 3px;
}
.dealerDiv .dealer_Right .date_Div {
  width: 100%;
  border-bottom: dashed #d2d2d2 1px;
  position: relative;
  padding: 10px 0;
}
.dealerDiv .dealer_Right .date_Div .margin_top {
  overflow: hidden;
  padding-top: 16px;
}
.dealerDiv .dealer_Right .date_Div .date_Divtext {
  float: left;
  line-height: 35px;
  text-indent: 20px;
  font-family: "simsun";
  font-size: 12px;
  word-spacing: 12px;
  width: 100%;
}
.dealerDiv .dealer_Right .date_Div .date_Divtext :nth-child(2) {
  margin-right: 25px;
}
.dealerDiv .dealer_Right .date_Div .serviceImg {
  float: right;
  height: 50%;
  position: absolute;
  top: 25px;
  right: 0;
  width: 184px;
}
.dealerDiv .dealer_Right .date_Div .serviceImg > div {
  display: none;
}
.dealerDiv .dealer_Right .date_Div .serviceImg > div a {
  display: block;
  margin-top: 5px;
}
.dealerDiv .dealer_Right .date_Div #serviceImg {
  float: right;
  height: 50%;
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}
.dealerDiv .dealer_Right .date_Div .det {
  display: inline-block;
}
.dealerDiv .dealer_Right .date_Div .date_Divtexts {
  float: left;
  line-height: 31px;
  text-indent: 20px;
  font-family: "simsun";
  font-size: 12px;
  word-spacing: 12px;
  width: 100%;
}
.dealerDiv .dealer_Right .date_Div .date_Divtexts .dets {
  display: inline-block;
  text-indent: 62px;
}
.dealerDiv .dealer_Right .date_Div .date_Divtexts :nth-child(2) {
  width: 84px;
  margin-right: 25px;
  display: inline-block;
  text-indent: 0;
}
.dealerDiv .dealer_Right .date_Div .date_Divtexts :nth-child(3) {
  margin-right: 12px;
}
.dealerDiv .dealer_Right .borde_color {
  border: 2px solid #a9a9a9;
  margin-right: 12px;
  display: inline-block;
  width: 56px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  padding: 0 5px;
  color: #333;
  font-family: "SimSun";
}
.dealerDiv .dealer_Right .borde_color.active {
  border-color: #ff7900;
}
.dealerDiv .dealer_Right .selectDiv {
  width: 96%;
  padding: 23px 22px 27px;
}
.dealerDiv .dealer_Right .selectDiv p {
  width: 100%;
  margin-bottom: 20px;
  height: 25px;
  overflow: hidden;
}
.dealerDiv .dealer_Right .selectDiv p span {
  line-height: 21px;
  margin-right: 15px;
  color: #333;
}
.dealerDiv .dealer_Right .selectDiv .lin-hk {
  width: 100%;
  height: 31px;
}
.dealerDiv .dealer_Right .selectDiv .lin-hk .font {
  color: #000;
  font-family: "simsun";
}
.dealerDiv .dealer_Right .selectDiv .lin-hk .quantity {
  height: 31px;
  width: 82px;
  margin: 0 14px 0 5px;
}
.dealerDiv .dealer_Right .selectDiv .lin-hk .quantity .text {
  width: 57px;
  height: 29px;
  border: 1px solid #a7a6ac;
  text-indent: 2px;
  background: #fff;
}
.dealerDiv .dealer_Right .selectDiv .lin-hk .quantity .buttons {
  width: 16px;
  height: 12px;
  float: right;
  border: 1px solid #a7a6ac;
  background: #fff;
  background: url(../images/dealer10.jpg) center center no-repeat;
}
.dealerDiv .dealer_Right .selectDiv .lin-hk .quantity .buttonST {
  width: 16px;
  height: 12px;
  float: right;
  margin-top: 7px;
  border: 1px solid #a7a6ac;
  background: #fff;
  background: url(../images/dealer11.jpg) center center no-repeat;
}
.dealerDiv .dealer_Right .selectDiv .lin-hk span {
  height: 31px;
  line-height: 31px;
  float: left;
}
.dealerDiv .dealer_Right .button {
  width: 418px;
  height: 61px;
  margin-left: 20px;
  overflow: hidden;
}
.dealerDiv .dealer_Right .button a {
  width: 200px;
  height: 61px;
  float: left;
  text-align: center;
  line-height: 61px;
  background: #ff7900;
  color: #fff;
  border-radius: 40px;
  font-family: "JZunYuan";
  font-size: 20px;
}
.dealerDiv .dealer_Right .button .shoppingCar {
  background: #ff4747 url(../images/dealer04.png) 30px 12px no-repeat;
  float: right;
  text-indent: 35px;
}
/*商品详情tab*/
.particularsTab {
  width: 1061px;
  margin: 12px auto 0;
}
.particularsTab .tab_a {
  float: left;
  border: 1px solid #e4e2e3;
  border-bottom: none;
}
.particularsTab .tab_a .background_Top {
  color: #fff;
  background: #ff7100;
  -webkit-box-shadow: 0px -3px 0px #fd9641;
}
.particularsTab .tab_a a {
  width: 264px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-family: SimSun;
  float: left;
  color: #4a4a4a;
  background: #f9f7f8;
}
.particularsTab .tab_a .bordeLr {
  border-left: 1px solid #e4e2e3;
  border-right: 1px solid #e4e2e3;
}
.particularsTab .show {
  width: 1059px;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  border-top: 4px solid #ff7100;
  margin-bottom: 10px;
}
.particularsTab .show .particulars1 {
  width: 100%;
  font-size: 22px;
  padding-bottom: 30px;
}
.particularsTab .show .particulars1 img {
  display: block;
}
.particularsTab .show .particulars1 .marginBor {
  overflow: hidden;
  display: block;
  margin: 16px 16px 34px;
  width: 100%;
  letter-spacing: 0;
  line-height: 0;
  word-spacing: 0;
  font-weight: normal;
}
.particularsTab .show .particulars1 .img_09 {
  margin-top: 18px;
}
.particularsTab .show .particulars1 p {
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 29px;
  word-spacing: 15px;
}
.particularsTab .show .particulars1 .color {
  color: #ff0000;
  margin: 25px 0 31px 0;
  word-spacing: 0;
}
.particularsTab .show .particulars1 .excuse {
  font-size: 14px;
  color: #4a4a4a;
  font-family: "SimSun";
  display: block;
  font-style: normal;
  margin-top: 20px;
  text-indent: 20px;
}
.particularsTab .show .particulars1 textarea {
  width: 999px;
  height: 160px;
  background-color: #f0f0f0;
  padding: 10px;
  border: none;
  margin: 10px 0 0 20px;
  text-indent: 10px;
  outline: none;
  font-size: 14px;
}
.particularsTab .show .particulars1 .quiz {
  float: right;
  width: 94px;
  height: 30px;
  background: #ff7100;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-family: "Simsun";
  font-weight: 600;
  margin: 10px 20px;
}
.particularsTab .show .particulars1 .pleaseLogin {
  width: 507px;
  height: 199px;
  letter-spacing: 0;
  line-height: 0;
  margin: -18px auto 0;
  word-spacing: 0;
}
.particularsTab .show .particulars1 .pleaseLogin img {
  float: left;
}
.particularsTab .show .particulars1 .pleaseLogin i {
  float: right;
  display: block;
  margin-top: 58px;
  font-size: 18px;
  width: 240px;
  font-style: normal;
}
.particularsTab .show .particulars1 .pleaseLogin i span {
  color: #4a4a4a;
  line-height: 27px;
}
.particularsTab .show .particulars1 .pleaseLogin i span a {
  color: #ff7900;
  display: inline-block;
  border-bottom: 1px solid #ff7900;
  width: 52px;
  height: 19px;
  line-height: 19px;
  text-align: center;
}
.particularsTab .show .particulars1 .pleaseLogin i .center {
  margin-left: 10px;
}
.particularsTab .show .particulars1 .particulars {
  width: 100%;
  letter-spacing: 0;
  line-height: 0;
  margin-bottom: 0;
  word-spacing: 0;
  overflow: hidden;
  border-bottom: 1px dashed #d2d2d2;
  background: #ededed;
}
.particularsTab .show .particulars1 .particulars i {
  width: 95%;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-family: "simsun";
  clear: both;
}
.particularsTab .show .particulars1 .particulars i .lint {
  line-height: 10px;
}
.particularsTab .show .particulars1 .particulars i .textt {
  float: left;
  font-weight: 600;
}
.particularsTab .show .particulars1 .particulars i .texs {
  float: left;
  font-weight: 100;
  width: 820px;
}
.particularsTab .show .particulars1 .particulars i .textDate {
  float: right;
}
.particularsTab .show .particulars1 .particulars i a {
  color: #ff7900;
  float: left;
  font-weight: 600;
}
.particularsTab .show .particulars1 .particular {
  width: 100%;
  letter-spacing: 0;
  line-height: 0;
  margin-bottom: 0;
  word-spacing: 0;
  overflow: hidden;
  border-bottom: 1px dashed #d2d2d2;
  background: #fff;
}
.particularsTab .show .particulars1 .particular i {
  width: 95%;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-family: "simsun";
}
.particularsTab .show .particulars1 .particular i .lint {
  line-height: 10px;
}
.particularsTab .show .particulars1 .particular i .textt {
  float: left;
  font-weight: 600;
}
.particularsTab .show .particulars1 .particular i .texs {
  float: left;
  font-weight: 100;
}
.particularsTab .show .particulars1 .particular i .textDate {
  float: right;
}
.particularsTab .show .particulars1 .particular i a {
  color: #ff7900;
  float: left;
  font-weight: 600;
}
.particularsTab .reviewWrap {
  margin-left: 20px;
  padding: 30px 0;
  border-bottom: 1px dashed #f0f0f0;
}
.particularsTab .reviewWrap .leftHead {
  display: block;
  width: 72px;
}
.particularsTab .reviewWrap .leftHead > a {
  display: block;
  width: 72px;
  height: 72px;
  border: 1px solid #f0f0f0;
  padding: 3px;
}
.particularsTab .reviewWrap .leftHead > p {
  width: 80px;
  height: 40px;
  line-height: 20px;
  font-family: SimSun;
  overflow: hidden;
  font-size: 12px;
  color: #000;
  margin-bottom: 0;
}
.particularsTab .reviewWrap .reviewText {
  margin-left: 25px;
}
.particularsTab .reviewWrap .reviewText > p {
  font-size: 14px;
  color: #000;
  letter-spacing: .5px;
  margin-bottom: 8px;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs {
  float: left;
  margin-right: 5px;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs > a {
  display: inline-block;
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  padding: 3px;
  border: 2px solid #f0f0f0;
  margin-left: 8px;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs > a:first-child {
  margin-left: 0;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs > a:hover,
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs > a.active {
  border-color: #ff7900;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs > a:hover .trangle,
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs > a.active .trangle {
  display: block;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs > a .trangle {
  display: none;
  position: absolute;
  bottom: -9px;
  left: 15px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ff7900;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs .showBigImgWrap {
  display: none;
  border: 1px solid #ddd;
  width: 500px;
  height: 500px;
  padding: 5px;
  margin-top: 60px;
  text-align: center;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs .showBigImgWrap .rotateImg {
  width: 500px;
  height: 470px;
  text-align: center;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs .showBigImgWrap .rotateImg i {
  display: inline-block;
  width: 1px;
  height: 100%;
  vertical-align: middle;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs .showBigImgWrap .rotateImg img {
  display: unset;
  vertical-align: middle;
  margin-left: -1px;
  max-width: 400px;
  max-height: 400px;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs .showBigImgWrap .topHandel {
  text-align: left;
  margin-bottom: 5px;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs .showBigImgWrap .topHandel > a {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  color: #666;
  margin-left: 5px;
}
.particularsTab .reviewWrap .reviewText .imgsWrap .imgs .showBigImgWrap .topHandel > a > img {
  display: unset;
}
.particularsTab .reviewWrap .proDate {
  font-family: SimSun;
  color: #b0b0b0;
  font-size: 12px;
  padding-top: 10px;
}
/*现货*/
.date_Divs {
  height: 15px;
  width: 100%;
  border-bottom: dashed #d2d2d2 1px;
}
.dealers_Texts {
  text-indent: 70px;
  width: 100%;
  float: left;
  color: #fff;
  line-height: 35px;
  background: url(../images/dealer14.png) 20px center no-repeat;
  font-size: 14px;
}
.selectDivs {
  width: 96%;
  height: 180px;
  padding: 23px 22px 50px;
}
.selectDivs .width_Collss {
  width: 520px;
  margin-left: 10px;
}
.selectDivs p {
  width: 100%;
  margin-bottom: 20px;
}
.selectDivs p span {
  height: 21px;
  line-height: 21px;
}
.selectDivs .lin-hk {
  width: 100%;
  height: 31px;
}
.selectDivs .lin-hk .quantity {
  height: 31px;
  width: 82px;
  margin: 0 14px 0 15px;
}
.selectDivs .lin-hk .quantity .text {
  width: 57px;
  height: 29px;
  border: 1px solid #a7a6ac;
  text-indent: 2px;
  background: #fff;
}
.selectDivs .lin-hk .quantity .buttons {
  width: 16px;
  height: 12px;
  float: right;
  border: 1px solid #a7a6ac;
  background: #fff;
  background: url(../images/dealer10.jpg) center center no-repeat;
}
.selectDivs .lin-hk .quantity .buttonST {
  width: 16px;
  height: 12px;
  float: right;
  margin-top: 7px;
  border: 1px solid #a7a6ac;
  background: #fff;
  background: url(../images/dealer11.jpg) center center no-repeat;
}
.selectDivs .lin-hk span {
  height: 31px;
  line-height: 31px;
  float: left;
}
.selectDiv {
  width: 96%;
  padding: 23px 22px 27px;
}
.selectDiv .width_Collss {
  width: 520px;
}
.selectDiv p {
  width: 100%;
  margin-bottom: 20px;
}
.selectDiv .lin-hk {
  width: 100%;
  height: 31px;
}
.selectDiv .lin-hk .quantity {
  height: 31px;
  width: 82px;
  margin: 0 14px 0 5px;
}
.selectDiv .lin-hk .quantity .text {
  width: 57px;
  height: 29px;
  border: 1px solid #a7a6ac;
  text-indent: 2px;
  background: #fff;
}
.selectDiv .lin-hk .quantity .buttons {
  width: 16px;
  height: 12px;
  float: right;
  border: 1px solid #a7a6ac;
  background: #fff;
  background: url(../images/dealer10.jpg) center center no-repeat;
}
.selectDiv .lin-hk .quantity .buttonST {
  width: 16px;
  height: 12px;
  float: right;
  margin-top: 7px;
  border: 1px solid #a7a6ac;
  background: #fff;
  background: url(../images/dealer11.jpg) center center no-repeat;
}
.selectDiv .lin-hk span {
  height: 31px;
  line-height: 31px;
  float: left;
}
/*搜索页面*/
.search {
  width: 100%;
  overflow: hidden;
  font-family: "SimSun";
}
.search .searchShow {
  width: 100%;
  height: 40px;
  background: #f0f0f0;
}
.search .searchShow .searchShow_text {
  width: 85px;
  line-height: 40px;
  text-align: center;
  float: left;
}
.search .searchShow .searchShow_right {
  line-height: 40px;
  width: 942px;
  float: right;
}
.search .searchShow .searchShow_right .searchDom {
  float: left;
  clear: both;
  display: inline-block;
}
.search .searchShow .searchShow_right .text_Show {
  float: left;
  font-size: 12px;
  color: #ff7900;
  line-height: 25px;
  height: 25px;
  background: #fff;
  margin: 7px 5px 0 0;
  border: 1px solid #d8d8d8;
  padding: 0 4px;
}
.search .searchShow .searchShow_right .text_Show:hover {
  cursor: pointer;
}
.search .searchShow .searchShow_right .text_Show .textD {
  color: #ff7900;
  padding-right: 3px;
}
.search .searchShow .searchShow_right .text_Show .textD.active {
  color: #838383;
}
.search .searchShow .searchShow_right .text_Show .divD {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: -4px 0;
  background: #ffffff url(../images/search04.png) center center no-repeat;
}
.search .searchShow .searchShow_right .text_Remove {
  float: left;
  font-size: 12px;
  color: #fff;
  line-height: 25px;
  text-indent: 5px;
  height: 25px;
  background: #b0aba9;
  border: 1px solid #d8d8d8;
  margin-top: 7px;
  overflow: hidden;
  min-width: 81px;
}
.search .searchShow .searchShow_right .text_Remove:hover {
  cursor: pointer;
}
.search .searchShow .searchShow_right .text_Remove .textR {
  color: #fff;
}
.search .searchShow .searchShow_right .text_Remove .divDmove {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: -4px 0 -4px 2px;
  background: #ffffff url(../images/search03.png) center center no-repeat !important;
}
.search .search_height {
  width: 100%;
  line-height: 47px;
  border-bottom: 1px dashed #d2d2d2;
}
.search .search_height .btn {
  color: #000;
  background: url(../images/search02.png) 30px -23px no-repeat;
  width: 40px;
  float: right;
  font-style: normal;
}
.search .search_height .btn:hover {
  cursor: pointer;
}
.search .search_height .btn.active {
  background-position-y: 19px;
}
.search .search_height .searchShow_texts {
  width: 85px;
  line-height: 47px;
  text-align: center;
  float: left;
  margin-right: 35px;
}
.search .search_height .search_heightA {
  float: left;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  max-height: 190px;
}
.search .search_height .search_heightA .heightA_height {
  height: 47px;
}
.search .search_height .search_heightA a {
  color: #838383;
  width: 83px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search .search_height .search_heightA a:active {
  color: #ff7900;
}
.search .search_height .search_heightAs {
  float: left;
  font-size: 12px;
  height: 190px;
  display: none;
  overflow: hidden;
  position: relative;
  background: #fff;
}
.search .search_height .search_heightAs .heightA_height {
  height: 47px;
  border-top: 1px dashed #d2d2d2;
}
.search .search_height .search_heightAs .heightA_height:first-child {
  border-top: none;
}
.search .search_height .search_heightAs a {
  color: #838383;
  width: 83px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search .search_height .search_heightAs a:active {
  color: #ff7900;
}
.search .search_height .search_heightB {
  float: right;
  font-size: 12px;
  width: 940px;
  height: 47px;
}
.search .search_height .search_heightB a {
  color: #838383;
  width: 80px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search .search_height .search_heightB a:active {
  color: #ff7900;
}
.search .btnDiv {
  width: 100%;
  height: 30px;
  background: #757575;
  margin-top: 10px;
  float: left;
}
.search .btnDiv a {
  float: left;
  width: 48px;
  height: 18px;
  color: #fff;
  text-align: center;
  border: 1px solid #363636;
  background: #4a4a4a;
  margin: 5px 0 0 11px;
  font-family: "SimSun";
  font-size: 12px;
  line-height: 18px;
}
.search .btnDiv .background_boder {
  border: 1px solid #fff;
  background: #ff7900;
}
.search .btnDiv .background_boders {
  border: 1px solid #363636;
  background: #4a4a4a;
}
.search .btnDiv .shift {
  text-indent: -10px;
  position: relative;
  float: left;
  width: 48px;
  height: 18px;
  color: #fff;
  text-align: center;
  border: 1px solid #363636;
  background: #4a4a4a;
  margin: 5px 0 0 11px;
  font-family: "SimSun";
  font-size: 12px;
  line-height: 18px;
}
.search .btnDiv .shift:hover {
  cursor: pointer;
}
.search .btnDiv .shift .popsh {
  position: absolute;
  top: 0;
  left: 33px;
  border: 4px solid transparent;
  border-bottom-color: #fff;
  width: 0;
  height: 0;
}
.search .btnDiv .shift .popsh.borderBottom {
  border-bottom: 6px #ff7900 solid;
}
.search .btnDiv .shift .popshTwo {
  position: absolute;
  top: 10px;
  left: 33px;
  border: 4px solid transparent;
  border-top-color: #fff;
  width: 0;
  height: 0;
}
.search .btnDiv .shift .popshTwo.borderTop {
  border-top: 6px #ff7900 solid;
}
.search .btnDiv .shift .pops {
  position: absolute;
  top: -4px;
  left: 33px;
  border: 6px solid transparent;
  border-bottom-color: #fff;
  width: 0;
  height: 0;
}
.search .btnDiv .shift .popsTwo {
  position: absolute;
  top: 10px;
  left: 33px;
  border: 6px solid transparent;
  border-top-color: #fff;
  width: 0;
  height: 0;
}
.search .btnDiv .quantity {
  float: right;
  padding: 0 23px;
  line-height: 20px;
  background: #fff;
  font-family: "SimSun";
  font-size: 12px;
  color: #4a4a4a;
  margin: 5px 6px 0 0;
  border-radius: 50px;
}
.search .search_Tab {
  overflow: hidden;
  float: left;
}
.search .search_Tab div {
  display: none;
  overflow: hidden;
}
.search .search_Tab .hotLodoLiest {
  display: block;
}
/*# sourceMappingURL=productCenter.css.map */