#header{
	width: 7.5rem;
	height: 0.88rem;
	background-color: #f9c8a7;
	color: #FFFFFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	font-size: 0.34rem;
	text-align: center;
	line-height: 0.88rem;
	overflow: hidden;
}
#header *{
	float: left;
}
#header #header_left {
	width: 0.8rem;
	height: 0.88rem;
	position: absolute;
	top: 0rem;
	left:0rem;
}
#prev{
	width: 0.28rem;
	height: 0.38rem;
	margin:0.25rem 0 0 0.2rem;
}
#ordeNumber{
	margin:0 auto;
	margin-top: 1.25rem;
	border:0.03rem #666 solid;
	width:90%;
	padding:0.2rem;
	font-size: 0.25rem;
	color:#999;
}
ul{
	margin:0 auto;
	margin-top: 0.5rem;
	width:90%;
	padding:0.2rem;
	font-size: 0.25rem;
	color:#999;
}
ul li{
	height:1rem;
	background:url(../images/wuliu.png) left center no-repeat;
	line-height: 1rem;
	padding-left: 1.8rem;
	margin-top:0.8rem;
}
ul li:first-child{
	color:#000;
}